*{padding:0;
margin: 0;}

.header{
background-color: #5e5e44;
width:100%;
height:150px;
color:#9c4906;
text-align:center;
font-size:30px;

}
.content{
background-color:gray;
height:100%;
width:80%;
margin:0;
color:black;
font-size:25px;
float: right;


}
.main{
	display: flex;
}
.left{
background-color: #324037;

width:20%;
float:left;

}
.left a{
	color:brown;
	text-align:center;
	font-size:40px;

}
.header img{
float:left;
width:200px;
height:150px;
margin-left:10%;

}
.content h1,h2,h3, ul, li{
	text-align: center;	
}
.content ul, li{background-color:#94691f;
	margin-left:5%;
	margin-right:5%;
	font-size:30px;
	 


}
.content p {
font-size:30px;
margin-left:10%;
margin-right:10%;
}
i {color:green;}
b {color:crimson;}
.content img {margin-left:30%;
}
.content img:hover{border:10px outset #94691f;}

.footer {
background-color:black;
color:white;
height:100%;
width:100%;

}
.footer p{text-align:center;
font-size:50px;}

.footer img {width:100px;
height:100px;
}


